Objectives:
1. The team in charge of this influence campaign wants to know if the objective of rejuvenating its target population has been achieved.
2. In addition, Fitness Cardio wonders if this campaign was profitable for Decathlon. To answer this last question, you can apply an average margin rate of 20%*.

The main objective of this influencer campaign was to recruit new Generation Z customers from social networks.

### Preparation

In [152]:
# importing relevant packages
import pandas as pd
from glob import glob
import datetime
import numpy as np

In [176]:
# CONSTANTS

# Campaign date
CAMPAIGN_DATE = datetime.date(2020,9,4)
# Model code for the products being promoted
LS_PRODUCT_MODEL_CODES = [5015822, 7635140, 7166996, 2486222]
# The budget for the marketing campaign
MARKETING_BUDGET = 30000

In [105]:
# getting the path for CSVs that contain the data 
glob("dataset/*")

['dataset/d_sku.csv',
 'dataset/d_business_unit.csv',
 'dataset/flow_audience.csv',
 'dataset/f_transaction_detail.csv',
 'dataset/d_customers.csv']

### Loading the CSVs into dataframes

In [106]:
# dataframe; each row: information of each product item
df_products = pd.read_csv("dataset/d_sku.csv")
# dataframe; each row: information of each customer
df_customers = pd.read_csv("dataset/d_customers.csv")
# dataframe; each row: information about each transaction
df_transactions = pd.read_csv("dataset/f_transaction_detail.csv")
# dataframe; each row: one audience flow on the Decathlon website
df_flow = pd.read_csv("dataset/flow_audience.csv")
# dataframe; each row: each online/offline store
df_unit = pd.read_csv("dataset/d_business_unit.csv")

### Profitability

In [107]:
# First select the products relevant to the campaign from the product dataframe
df_rel_products = df_products[df_products["mdl_num_model_r3"].isin(LS_PRODUCT_MODEL_CODES)].sort_values(by=["mdl_num_model_r3"])
df_rel_products
# Discovered that each model has plenty of items; each have a different item number

,sku_idr_sku,mdl_num_model_r3,mdl_blue_product,fam_num_family,family_label,sdp_num_sub_department,sdp_label,dpt_num_department,dpt_label,unv_num_univers,unv_label,pnt_num_product_nature,product_nature_label,category_label,brd_type_brand_libelle,sku_date_end
5421,7455088,2486222.0,0,10790,FITNESS SHOES,2798,FITNESS CARDIO,88,FITNESS,6,FITNESS CARDIO,25126,SHOES,FOOTWEAR,MP,2999-12-31 23:59:59
5419,7442821,2486222.0,0,10790,FITNESS SHOES,2798,FITNESS CARDIO,88,FITNESS,6,FITNESS CARDIO,25126,SHOES,FOOTWEAR,MP,2999-12-31 23:59:59
5759,7451543,2486222.0,0,10790,FITNESS SHOES,2798,FITNESS CARDIO,88,FITNESS,6,FITNESS CARDIO,25126,SHOES,FOOTWEAR,MP,2999-12-31 23:59:59
3033,7449064,2486222.0,0,10790,FITNESS SHOES,2798,FITNESS CARDIO,88,FITNESS,6,FITNESS CARDIO,25126,SHOES,FOOTWEAR,MP,2999-12-31 23:59:59
2325,7460340,2486222.0,0,10790,FITNESS SHOES,2798,FITNESS CARDIO,88,FITNESS,6,FITNESS CARDIO,25126,SHOES,FOOTWEAR,MP,2999-12-31 23:59:59
2381,7448470,2486222.0,0,10790,FITNESS SHOES,2798,FITNESS CARDIO,88,FITNESS,6,FITNESS CARDIO,25126,SHOES,FOOTWEAR,MP,2999-12-31 23:59:59
5711,7457353,2486222.0,0,10790,FITNESS SHOES,2798,FITNESS CARDIO,88,FITNESS,6,FITNESS CARDIO,25126,SHOES,FOOTWEAR,MP,2999-12-31 23:59:59
3032,7467777,5015822.0,0,10788,FIT W BRA,1587,FITNESS CARDIO,88,FITNESS,6,FITNESS CARDIO,25082,BRA,CLOTHING,MP,2999-12-31 23:59:59
3897,7463476,5015822.0,0,10788,FIT W BRA,1587,FITNESS CARDIO,88,FITNESS,6,FITNESS CARDIO,25082,BRA,CLOTHING,MP,2999-12-31 23:59:59
2388,7463948,5015822.0,0,10788,FIT W BRA,1587,FITNESS CARDIO,88,FITNESS,6,FITNESS CARDIO,25082,BRA,CLOTHING,MP,2999-12-31 23:59:59
203,7452821,5015822.0,0,10788,FIT W BRA,1587,FITNESS CARDIO,88,FITNESS,6,FITNESS CARDIO,25082,BRA,CLOTHING,MP,2999-12-31 23:59:59
2581,7458509,5015822.0,0,10788,FIT W BRA,1587,FITNESS CARDIO,88,FITNESS,6,FITNESS CARDIO,25082,BRA,CLOTHING,MP,2999-12-31 23:59:59
1862,7455608,7166996.0,0,34344,FIT CONF W CLOT,1587,FITNESS CARDIO,88,FITNESS,6,FITNESS CARDIO,10170,LEGGINGS,CLOTHING,MP,2999-12-31 23:59:59
3577,7458813,7166996.0,0,34344,FIT CONF W CLOT,1587,FITNESS CARDIO,88,FITNESS,6,FITNESS CARDIO,10170,LEGGINGS,CLOTHING,MP,2999-12-31 23:59:59
6868,7467008,7166996.0,0,34344,FIT CONF W CLOT,1587,FITNESS CARDIO,88,FITNESS,6,FITNESS CARDIO,10170,LEGGINGS,CLOTHING,MP,2999-12-31 23:59:59
6468,7452661,7166996.0,0,34344,FIT CONF W CLOT,1587,FITNESS CARDIO,88,FITNESS,6,FITNESS CARDIO,10170,LEGGINGS,CLOTHING,MP,2999-12-31 23:59:59
6745,7468857,7166996.0,0,34344,FIT CONF W CLOT,1587,FITNESS CARDIO,88,FITNESS,6,FITNESS CARDIO,10170,LEGGINGS,CLOTHING,MP,2999-12-31 23:59:59
6652,7457374,7166996.0,0,34344,FIT CONF W CLOT,1587,FITNESS CARDIO,88,FITNESS,6,FITNESS CARDIO,10170,LEGGINGS,CLOTHING,MP,2999-12-31 23:59:59
118,7446648,7635140.0,0,34344,FIT CONF W CLOT,1587,FITNESS CARDIO,88,FITNESS,6,FITNESS CARDIO,25014,T-SHIRT,CLOTHING,MP,2999-12-31 23:59:59
5160,7450422,7635140.0,0,34344,FIT CONF W CLOT,1587,FITNESS CARDIO,88,FITNESS,6,FITNESS CARDIO,25014,T-SHIRT,CLOTHING,MP,2999-12-31 23:59:59
4399,7449633,7635140.0,0,34344,FIT CONF W CLOT,1587,FITNESS CARDIO,88,FITNESS,6,FITNESS CARDIO,25014,T-SHIRT,CLOTHING,MP,2999-12-31 23:59:59
2762,7458761,7635140.0,0,34344,FIT CONF W CLOT,1587,FITNESS CARDIO,88,FITNESS,6,FITNESS CARDIO,25014,T-SHIRT,CLOTHING,MP,2999-12-31 23:59:59
1012,7448829,7635140.0,0,34344,FIT CONF W CLOT,1587,FITNESS CARDIO,88,FITNESS,6,FITNESS CARDIO,25014,T-SHIRT,CLOTHING,MP,2999-12-31 23:59:59
5420,7461697,7635140.0,0,34344,FIT CONF W CLOT,1587,FITNESS CARDIO,88,FITNESS,6,FITNESS CARDIO,25014,T-SHIRT,CLOTHING,MP,2999-12-31 23:59:59
6869,7452235,7635140.0,0,34344,FIT CONF W CLOT,1587,FITNESS CARDIO,88,FITNESS,6,FITNESS CARDIO,25014,T-SHIRT,CLOTHING,MP,2999-12-31 23:59:59

In [108]:
# use the items codes that we queried from the product dataframe to select rows in the transcations dataframe
item_codes = df_rel_products["sku_idr_sku"]
item_codes.iloc[1]

7442821

In [109]:
# filter only the transactions for the 4 items in the campaign
df_transcations_4items = df_transactions[df_transactions["sku_idr_sku"].isin(item_codes)]
df_transcations_4items

,the_transaction_id,tdt_date_to_returned,the_date_transaction,the_date_authorized,sku_idr_sku,but_idr_business_unit,ctm_customer_id,ctm_zip_code,the_to_type,the_transaction_status,tdt_type_detail,f_to_tax_in,f_qty_item
58810,50-13-13-20200901121327-1-1809957296,NaN,2020-09-01 12:13:27,2020-09-01 14:55:22,7458761,262186,3.924791e+14,34,online,finished,sale,20.0,1
58811,50-13-13-20200901121327-1-1809957296,NaN,2020-09-01 12:13:27,2020-09-01 14:55:22,7463476,262186,3.924791e+14,34,online,finished,sale,20.0,1
66139,50-13-13-20200904104818-1-1827775782,NaN,2020-09-04 10:48:18,2020-09-04 10:48:23,7463476,262186,8.604535e+14,75,online,finished,sale,20.0,1
66140,50-13-13-20200904104714-1-1828523434,NaN,2020-09-04 10:47:14,2020-09-04 10:48:30,7442821,262186,6.897239e+14,60,online,finished,sale,45.0,1
66141,50-13-13-20200904104714-1-1828523434,NaN,2020-09-04 10:47:14,2020-09-04 10:48:30,7452821,262186,6.897239e+14,60,online,finished,sale,20.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2232699,50-13-13-20200904102550-1-1827936963,NaN,2020-09-04 10:25:50,NaN,7463476,262186,6.638106e+14,63,online,canceled,sale,20.0,1
2232700,50-13-13-20200904102849-1-1828112323,NaN,2020-09-04 10:28:49,NaN,7467777,262186,9.462075e+14,74,online,canceled,return,-20.0,-1
2232701,50-13-13-20200904102849-1-1828112323,NaN,2020-09-04 10:28:49,NaN,7467777,262186,9.462075e+14,74,online,canceled,sale,20.0,1
2232842,50-13-13-20200904112001-1-1828816666,2020-09-14 15:31:05,2020-09-04 11:20:01,2020-09-04 11:20:05,7458813,262186,7.363493e+14,78,online,canceled,return,-35.0,-1
2232848,50-13-13-20200904105614-1-1828128678,2020-09-16 17:24:28,2020-09-04 10:56:14,2020-09-04 10:56:20,7449064,262186,8.754140e+14,28,online,finished,return,-45.0,0

In [111]:
# We hypothetically set a period of effectiveness for the campaign of 14 days.
period_enddate = CAMPAIGN_DATE + datetime.timedelta(days = 14)
period_enddate

datetime.date(2020, 9, 18)

In [97]:
# However, the data provided only extends to 13th of September.
# Therefore we can't make whole 2 weeks the into consideration.
df_transcations_4items["the_date_transaction"].max()

Timestamp('2020-09-13 17:19:43')

In [302]:
# Here, we used the_date_transaction as the date of the query, 
# since it is the most relevant metrics showing the time of the purchase behaviour where the customers intention took place.

# change the datatype of "the_date_transaction" column to datetime format for calculation
df_transcations_4items["the_date_transaction"] = pd.to_datetime(df_transcations_4items["the_date_transaction"])
df_transcations_4items["the_date_transaction"]

/var/folders/l2/pb0v6kq90dl82mv427v4y7c80000gp/T/ipykernel_74024/482725317.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_transcations_4items["the_date_transaction"] = pd.to_datetime(df_transcations_4items["the_date_transaction"])

58810     2020-09-01 12:13:27
58811     2020-09-01 12:13:27
66139     2020-09-04 10:48:18
66140     2020-09-04 10:47:14
66141     2020-09-04 10:47:14
                  ...
2232699   2020-09-04 10:25:50
2232700   2020-09-04 10:28:49
2232701   2020-09-04 10:28:49
2232842   2020-09-04 11:20:01
2232848   2020-09-04 10:56:14
Name: the_date_transaction, Length: 10196, dtype: datetime64[ns]

In [140]:
# the transcations of the 4 products in the designated period
df_transcations_4items_inperiod = (df_transcations_4items[
    (df_transcations_4items["the_date_transaction"].dt.date <= period_enddate) & 
    (df_transcations_4items["the_date_transaction"].dt.date >= CAMPAIGN_DATE)]
    .sort_values(by=["the_date_transaction"]))

df_transcations_4items_inperiod

,the_transaction_id,tdt_date_to_returned,the_date_transaction,the_date_authorized,sku_idr_sku,but_idr_business_unit,ctm_customer_id,ctm_zip_code,the_to_type,the_transaction_status,tdt_type_detail,f_to_tax_in,f_qty_item
1639134,50-13-13-20200904003505-1-1826401674,2020-09-04 09:27:06,2020-09-04 00:35:05,2020-09-04 08:49:37,7458509,262186,1.191847e+14,83,online,canceled,return,-20.0,-1
1639133,50-13-13-20200904003505-1-1826401674,2020-09-04 09:27:06,2020-09-04 00:35:05,2020-09-04 08:49:37,7457374,262186,1.191847e+14,83,online,canceled,return,-35.0,-1
1639132,50-13-13-20200904003505-1-1826401674,2020-09-04 09:27:06,2020-09-04 00:35:05,2020-09-04 08:49:37,7448829,262186,1.191847e+14,83,online,canceled,return,-20.0,-1
1639120,50-13-13-20200904003505-1-1826401674,NaN,2020-09-04 00:35:05,2020-09-04 08:49:37,7458509,262186,1.191847e+14,83,online,canceled,sale,20.0,1
1639119,50-13-13-20200904003505-1-1826401674,NaN,2020-09-04 00:35:05,2020-09-04 08:49:37,7457374,262186,1.191847e+14,83,online,canceled,sale,35.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2213417,7-225-225-20200913134905-3-1060,2020-09-13 13:49:05,2020-09-13 13:49:05,2020-09-13 13:49:05,7449633,33791,2.029395e+14,NaN,offline,finished,return,-20.0,-1
1160892,7-189-189-20200913143554-10-3501,NaN,2020-09-13 14:35:54,2020-09-13 14:35:54,7467777,33758,4.186005e+14,NaN,offline,finished,sale,20.0,1
377609,7-779-779-20200913143948-5-3652,2020-09-13 14:39:48,2020-09-13 14:39:48,2020-09-13 14:39:48,7449633,34330,NaN,*,offline,finished,return,-20.0,-1
446650,7-9-9-20200913163813-6-1540,NaN,2020-09-13 16:38:13,2020-09-13 16:38:13,7460340,33592,NaN,13,offline,finished,sale,45.0,1
524762,7-779-779-20200913171943-1-4335,NaN,2020-09-13 17:19:43,2020-09-13 17:19:43,7449633,34330,3.388947e+14,NaN,offline,finished,sale,20.0,1

Since we have to obtain the number of items sold validly for the analysis, so the items returned in this need to be queried and deducted from sales.

In [141]:
# the return of the 4 products in the designated period
df_return_4items_inperiod = (df_transcations_4items_inperiod
                            [df_transcations_4items_inperiod["tdt_type_detail"] == "return"])
df_return_4items_inperiod

,the_transaction_id,tdt_date_to_returned,the_date_transaction,the_date_authorized,sku_idr_sku,but_idr_business_unit,ctm_customer_id,ctm_zip_code,the_to_type,the_transaction_status,tdt_type_detail,f_to_tax_in,f_qty_item
1639134,50-13-13-20200904003505-1-1826401674,2020-09-04 09:27:06,2020-09-04 00:35:05,2020-09-04 08:49:37,7458509,262186,1.191847e+14,83,online,canceled,return,-20.0,-1
1639133,50-13-13-20200904003505-1-1826401674,2020-09-04 09:27:06,2020-09-04 00:35:05,2020-09-04 08:49:37,7457374,262186,1.191847e+14,83,online,canceled,return,-35.0,-1
1639132,50-13-13-20200904003505-1-1826401674,2020-09-04 09:27:06,2020-09-04 00:35:05,2020-09-04 08:49:37,7448829,262186,1.191847e+14,83,online,canceled,return,-20.0,-1
782046,50-13-13-20200904003540-1-1826401664,NaN,2020-09-04 00:35:40,NaN,7458813,262186,7.714755e+13,61,online,canceled,return,-35.0,-1
781986,50-13-13-20200904003540-1-1826401664,NaN,2020-09-04 00:35:40,NaN,7449633,262186,7.714755e+13,61,online,canceled,return,-20.0,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1202740,7-18-18-20200912190458-1-913,2020-09-12 19:04:58,2020-09-12 19:04:58,2020-09-12 19:04:58,7461697,33601,2.333176e+14,NaN,offline,finished,return,-20.0,-1
1266781,7-28-28-20200912193522-2-8372,2020-09-12 19:35:22,2020-09-12 19:35:22,2020-09-12 19:35:22,7463948,33610,6.346633e+14,NaN,offline,finished,return,-20.0,-1
1266780,7-28-28-20200912193522-2-8372,2020-09-12 19:35:22,2020-09-12 19:35:22,2020-09-12 19:35:22,7460340,33610,6.346633e+14,NaN,offline,finished,return,-45.0,-1
2213417,7-225-225-20200913134905-3-1060,2020-09-13 13:49:05,2020-09-13 13:49:05,2020-09-13 13:49:05,7449633,33791,2.029395e+14,NaN,offline,finished,return,-20.0,-1
377609,7-779-779-20200913143948-5-3652,2020-09-13 14:39:48,2020-09-13 14:39:48,2020-09-13 14:39:48,7449633,34330,NaN,*,offline,finished,return,-20.0,-1

In [163]:
# all sales of the 4 products in the designated period (return not considered)
df_sales_4items_inperiod = (df_transcations_4items_inperiod
                            [df_transcations_4items_inperiod["tdt_type_detail"] == "sale"])
# the transaction id for the return transaction in the period
return_id = df_return_4items_inperiod["the_transaction_id"]

# the valid sales dataframe after dropping the returned products rows
df_valid_sales_4items_inperiod = df_sales_4items_inperiod[~df_sales_4items_inperiod["the_transaction_id"].isin(return_id)]
df_valid_sales_4items_inperiod

,the_transaction_id,tdt_date_to_returned,the_date_transaction,the_date_authorized,sku_idr_sku,but_idr_business_unit,ctm_customer_id,ctm_zip_code,the_to_type,the_transaction_status,tdt_type_detail,f_to_tax_in,f_qty_item
1036755,50-13-13-20200904082649-1-1827560023,NaN,2020-09-04 08:26:49,2020-09-04 08:28:33,7449633,262186,5.768569e+14,73,online,finished,sale,20.0,1
1036756,50-13-13-20200904082649-1-1827560023,NaN,2020-09-04 08:26:49,2020-09-04 08:28:33,7460340,262186,5.768569e+14,73,online,finished,sale,45.0,1
1076127,50-13-13-20200904083416-1-1827524213,NaN,2020-09-04 08:34:16,2020-09-04 08:34:41,7458509,262186,5.545599e+14,91,online,finished,sale,20.0,1
1076130,50-13-13-20200904083416-1-1827524213,NaN,2020-09-04 08:34:16,2020-09-04 08:34:41,7463476,262186,5.545599e+14,91,online,finished,sale,20.0,1
1076129,50-13-13-20200904083416-1-1827524213,NaN,2020-09-04 08:34:16,2020-09-04 08:34:41,7458813,262186,5.545599e+14,91,online,finished,sale,35.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1478096,7-116-116-20200912192602-4-7808,NaN,2020-09-12 19:26:02,2020-09-12 19:26:02,7463476,33691,2.161764e+14,NaN,offline,finished,sale,20.0,1
391151,7-189-189-20200913104410-21-4075,NaN,2020-09-13 10:44:10,2020-09-13 10:44:10,7446648,33758,7.568892e+14,NaN,offline,finished,sale,20.0,1
1160892,7-189-189-20200913143554-10-3501,NaN,2020-09-13 14:35:54,2020-09-13 14:35:54,7467777,33758,4.186005e+14,NaN,offline,finished,sale,20.0,1
446650,7-9-9-20200913163813-6-1540,NaN,2020-09-13 16:38:13,2020-09-13 16:38:13,7460340,33592,NaN,13,offline,finished,sale,45.0,1
524762,7-779-779-20200913171943-1-4335,NaN,2020-09-13 17:19:43,2020-09-13 17:19:43,7449633,34330,3.388947e+14,NaN,offline,finished,sale,20.0,1

Now we calculate the direct revenue from the campaign in the designated period from this dataframe.

In [172]:
# The total turnover for the 4 items in the campaign in the designated period
total_turnover = df_valid_sales_4items_inperiod["f_to_tax_in"].sum()
total_turnover

227843.0

Since the average margin rate is 20%, we would have the following calculation:

In [179]:
# This is assuming that the 20% margin rate has accounted for all the other costs apart from the IG marketing campaign
# The total cost for the product sold 
total_product_cost = total_turnover/1.2
total_product_cost

189869.1666666667

In [180]:
profit = total_turnover - total_product_cost - MARKETING_BUDGET
profit

7973.833333333314

After deducting the marketing budget, there is still a 7,973 Euro profit. Therefore, the campaign was profitable for Decathlon.

---------------

### Effectiveness of the Influence Campaign

However, to answer the question of whether the campaign was successful in rejuvenating its target population, more data should be looked at.
The target population is new Generation Z customers. More specifically, they should be attracted from the social network channel. To answer such question, I think we should compare the number of Cardio Fitness products purchased before and after the campaign, with specific regards to the women in generation Z.

In [208]:
# Query for the Fitness Cardio Women Products
# Since products for men usually contain "M " in the beginning of the "family_label" tag, we exclude them for our analysis
df_fitnesscardio_women = df_products[(df_products["unv_label"] == "FITNESS CARDIO") & ~(df_products["family_label"].str.startswith("M "))]
df_fitnesscardio_women

,sku_idr_sku,mdl_num_model_r3,mdl_blue_product,fam_num_family,family_label,sdp_num_sub_department,sdp_label,dpt_num_department,dpt_label,unv_num_univers,unv_label,pnt_num_product_nature,product_nature_label,category_label,brd_type_brand_libelle,sku_date_end
1,7362028,7424823.0,0,34344,FIT CONF W CLOT,1587,FITNESS CARDIO,88,FITNESS,6,FITNESS CARDIO,25055,SHORTS,CLOTHING,MP,2999-12-31 23:59:59
2,7332974,9316616.0,0,10790,FITNESS SHOES,2798,FITNESS CARDIO,88,FITNESS,6,FITNESS CARDIO,25126,SHOES,FOOTWEAR,MP,2999-12-31 23:59:59
3,7418117,907001.0,0,34344,FIT CONF W CLOT,1587,FITNESS CARDIO,88,FITNESS,6,FITNESS CARDIO,10988,LEGGING 7/8,CLOTHING,MP,2999-12-31 23:59:59
7,7264755,6219651.0,0,10788,FIT W BRA,1587,FITNESS CARDIO,88,FITNESS,6,FITNESS CARDIO,25076,SPORTS BRA,CLOTHING,MP,2999-12-31 23:59:59
9,7306220,1974237.0,0,10788,FIT W BRA,1587,FITNESS CARDIO,88,FITNESS,6,FITNESS CARDIO,25082,BRA,CLOTHING,MP,2999-12-31 23:59:59
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7259,7475525,9941122.0,0,270,FIT JUMPIN ROPE,1666,FITNESS CARDIO,88,FITNESS,6,FITNESS CARDIO,0,UNDEFINED,NaN,AMI,2999-12-31 23:59:59
7267,6988089,3374362.0,0,3087,"FIT BAGS,ACCESS",2198,FITNESS CARDIO,88,FITNESS,6,FITNESS CARDIO,26531,SPORTS BAG,ACCESSORY,MP,2999-12-31 23:59:59
7268,2050523,9184597.0,0,10789,W ENERGY,1587,FITNESS CARDIO,88,FITNESS,6,FITNESS CARDIO,25032,JACKET,CLOTHING,MP,2999-12-31 23:59:59
7271,7319354,3649811.0,0,34344,FIT CONF W CLOT,1587,FITNESS CARDIO,88,FITNESS,6,FITNESS CARDIO,25014,T-SHIRT,CLOTHING,MP,2999-12-31 23:59:59
7272,1915016,1565016.0,0,350,SPECIAL ORDERS,1666,FITNESS CARDIO,88,FITNESS,6,FITNESS CARDIO,0,UNDEFINED,NaN,AMI,2999-12-31 23:59:59

In [244]:
# filter only the transactions for Fitness Cardio Women Products
df_female_fitnesscardio_transactions = df_transactions[df_transactions["sku_idr_sku"].isin(df_fitnesscardio_women.sku_idr_sku)]

# Joining the transaction dataframe with the customer information
df_transactions_withcusinfo = pd.merge(df_female_fitnesscardio_transactions, df_customers, left_on = "ctm_customer_id", right_on = "loyalty_card_num", how = "inner")

# Select only the purchase from Generation Z members
# We don't deduct male members here, since we are already targeting female products.
df_genz_transactions = df_transactions_withcusinfo[df_transactions_withcusinfo.year_birthdate >= 1995]
df_genz_transactions

,the_transaction_id,tdt_date_to_returned,the_date_transaction,the_date_authorized,sku_idr_sku,but_idr_business_unit,ctm_customer_id,ctm_zip_code,the_to_type,the_transaction_status,...,email_is_valid,mobile_is_valid,loyalty_card_creation_date,but_idr_business_unit_usual,but_idr_business_unit_creator,cnt_country_code_creator,optin_sport,optin_review,optin_event,last_purchase_date
307,7-292-292-20200829154610-7-481,NaN,2020-08-29 15:46:10,2020-08-29 15:46:10,7260976,33854,2.149419e+14,NaN,offline,finished,...,False,True,2007-08-29 04:24:00,33633,33592,FR,1,1,1,2021-03-03
308,7-292-292-20200829154610-7-481,NaN,2020-08-29 15:46:10,2020-08-29 15:46:10,7264064,33854,2.149419e+14,NaN,offline,finished,...,False,True,2007-08-29 04:24:00,33633,33592,FR,1,1,1,2021-03-03
381,50-13-13-20200825103804-1-1758594495,NaN,2020-08-25 10:38:04,2020-08-25 10:38:08,7422363,262186,5.393912e+14,59,online,finished,...,True,True,2020-05-10 12:47:11,33693,33693,FR,1,1,0,2021-03-05
564,7-179-179-20200827155609-2-8881,NaN,2020-08-27 15:56:09,2020-08-27 15:56:09,7360829,33748,5.343895e+14,NaN,offline,finished,...,True,True,2019-10-17 14:08:06,33748,33748,FR,0,0,0,2021-03-04
565,7-179-179-20200827155609-2-8881,NaN,2020-08-27 15:56:09,2020-08-27 15:56:09,7396655,33748,5.343895e+14,NaN,offline,finished,...,True,True,2019-10-17 14:08:06,33748,33748,FR,0,0,0,2021-03-04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312036,50-13-13-20200904112026-1-1828066076,NaN,2020-09-04 11:20:26,2020-09-04 11:21:02,7457374,262186,9.953709e+14,85,online,finished,...,True,True,2019-03-16 14:39:22,33912,34441,FR,0,0,0,2021-02-19
312037,50-13-13-20200904112026-1-1828066076,NaN,2020-09-04 11:20:26,2020-09-04 11:21:02,7463948,262186,9.953709e+14,85,online,finished,...,True,True,2019-03-16 14:39:22,33912,34441,FR,0,0,0,2021-02-19
312236,7-62-62-20200909111930-9-8670,2020-09-09 11:19:30,2020-09-09 11:19:30,2020-09-09 11:19:30,7198860,33640,3.738735e+14,NaN,offline,finished,...,True,True,2015-06-08 09:21:10,33894,33894,FR,1,1,1,2021-02-14
312237,7-62-62-20200909111930-9-8670,NaN,2020-09-09 11:19:30,2020-09-09 11:19:30,7333058,33640,3.738735e+14,NaN,offline,finished,...,True,True,2015-06-08 09:21:10,33894,33894,FR,1,1,1,2021-02-14
312433,50-13-13-20200913164652-1-1866312858,NaN,2020-09-13 16:46:52,2020-09-13 16:46:57,7277146,262186,4.962765e+14,77,online,shipped,...,True,True,2019-04-20 09:34:19,33706,33706,FR,0,0,0,2021-02-15

In [293]:
# resample the transaction date and compare the number of sales of Fitness Cardio Women Products before and after the campaign
df_genz_transactions["the_date_transaction"] = pd.to_datetime(df_genz_transactions["the_date_transaction"])

# Since matching the returned items would be too complicated, for simplicity, we would only use the turnover here to 
# get an average number of money made from the products sold, in which the sales figure is balanced out by the return figure
df_genz_transactions_inperiod = (df_genz_transactions[
    (df_genz_transactions["the_date_transaction"].dt.date <= period_enddate) & 
    (df_genz_transactions["the_date_transaction"].dt.date >= CAMPAIGN_DATE)])
df_genz_transactions_outperiod = (df_genz_transactions[
    (df_genz_transactions["the_date_transaction"].dt.date < CAMPAIGN_DATE)])

/var/folders/l2/pb0v6kq90dl82mv427v4y7c80000gp/T/ipykernel_74024/529949098.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_genz_transactions["the_date_transaction"] = pd.to_datetime(df_genz_transactions["the_date_transaction"])

87410.75

In [300]:
# the total transactions turnout in the period 
amt_inperiod = df_genz_transactions_inperiod.f_to_tax_in.sum()
days = df_genz_transactions_inperiod["the_date_transaction"].dt.date.unique().shape[0]
# the average transactions turnout in the period
amt_inperiod/days

8741.075

In [301]:
# the total transactions turnout not in the period 
amt_outperiod = df_genz_transactions_outperiod.f_to_tax_in.sum()
days = df_genz_transactions_outperiod["the_date_transaction"].dt.date.unique().shape[0]
# the average transactions turnout not in the period 
amt_outperiod/days

6170.565454545454

As we can see that the average transactions amount for the Fitness Cardio Women Productsin the campaign period is much higher (41%) than that before the campaign period. Telling from this metrics, we can conclude that the rejuvenation is successful.

Let's also take a look of the traffic in the designated period for the Fitness Cardio Women Products:

In [263]:
# filter only the traffic for the 4 products
df_flow_fitnesscardio_women = df_flow[df_flow["product_id_model"].isin(df_fitnesscardio_women.mdl_num_model_r3)]
df_flow_fitnesscardio_women

,hit_date,url_referer_host,product_id_model,product_instock,device_type,avg_note,nb_reviews,tot_visitors
5,2020-09-08,www.decathlon.fr,1757502.0,unavailable,mobile,3.67,3.0,32
6,2020-09-02,www.decathlon.fr,9841743.0,partially,tablet,4.38,8.0,1
8,2020-09-07,www.decathlon.fr,566583.0,available,desktop,4.54,41.0,1
9,2020-08-27,www.decathlon.fr,3002369.0,available,desktop,0.00,0.0,2
11,2020-09-05,www.decathlon.fr,5776605.0,available,tablet,4.67,3.0,1
...,...,...,...,...,...,...,...,...
51519,2020-09-11,www.decathlon.fr,6579446.0,unavailable,tablet,4.45,276.0,6
51520,2020-09-04,www.decathlon.fr,2707647.0,available,mobile,4.29,340.0,8
51522,2020-09-03,www.decathlon.fr,9647368.0,available,mobile,4.37,433.0,24
51527,2020-09-03,www.decathlon.fr,5739523.0,unavailable,desktop,4.40,401.0,35
51528,2020-08-28,www.decathlon.fr,566583.0,available,desktop,4.49,39.0,4

In [265]:
# filter traffic before and after the designated period
df_flow_fitnesscardio_women["hit_date"] = pd.to_datetime(df_flow_fitnesscardio_women["hit_date"])
df_flow_fitnesscardio_women_inperiod = (df_flow_fitnesscardio_women[
    (df_flow_fitnesscardio_women["hit_date"].dt.date <= period_enddate) & 
    (df_flow_fitnesscardio_women["hit_date"] .dt.date >= CAMPAIGN_DATE)])
df_flow_fitnesscardio_women_outperiod = (df_flow_fitnesscardio_women[
    (df_flow_fitnesscardio_women["hit_date"] .dt.date < CAMPAIGN_DATE)])

/var/folders/l2/pb0v6kq90dl82mv427v4y7c80000gp/T/ipykernel_74024/3495696846.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_flow_fitnesscardio_women["hit_date"] = pd.to_datetime(df_flow_fitnesscardio_women["hit_date"])

In [288]:
# The average number of visitors each day before the campaign
nvbc = df_flow_fitnesscardio_women_inperiod.tot_visitors.sum()
# The number of days in the data period before the campaign
days = df_flow_fitnesscardio_women_inperiod["hit_date"].dt.date.unique().shape[0]
# The average number of visitors each day before the campaign 
nvbc/days

20657.5

In [287]:
# 
nvac = df_flow_fitnesscardio_women_outperiod.tot_visitors.sum()
# 
days = df_flow_fitnesscardio_women_outperiod["hit_date"].dt.date.unique().shape[0]
# 
nvac/days

14526.5

The

In [59]:
# from flow audience; just checking lau leung
# maybe get some indicators from digital marketing
# conversion and things
# utm, specifically because of the link
# join member because of that

In [ ]:
# other insight : offline or online?

In [ ]:
# check similar category; may not be exactly those products being purchased
# think from a consumer perspective

In [ ]:
# count how long as the campaign effect period
# need explain: allow how long customers buying them? may need find literature; say decathlon usual is?
# additional information: any other factors that may affect that like other campaigns or social factors

In [ ]:
# Limitation:
only members; if only outside then may not accurate
flow audience if have tracker then utm, may know traffic